<a href="https://colab.research.google.com/github/Alekhyo/Naive-Bayes/blob/master/NaiveBayes_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
df=pd.read_csv('toy.csv')

In [0]:
df

   opponent      venue   outlook  toss result
0       kkr  bangalore  overcast  lost    won
1        mi     mumbai     sunny   won    won
2       rcb     mumbai  overcast   won    won
3       kkr  bangalore     sunny  lost    won
4       kkr  bangalore     sunny   won    won
5        mi    chennai     sunny   won   lost
6       rcb    chennai     sunny   won   lost
7       kkr    chennai  overcast   won    won
8        rr  bangalore     sunny  lost    won
9       rcb     mumbai  overcast   won    won
10      kkr    chennai     sunny   won    won
11      rcb  bangalore     sunny   won    won
12       rr    chennai  overcast   won    won
13      kkr    chennai  overcast   won    won
14      kkr  bangalore  overcast   won    won
15      rcb    chennai  overcast   won   lost
16      kkr  bangalore  overcast   won   lost
17       mi  bangalore     sunny   won   lost
18      rcb    chennai     sunny  lost    won
19       mi    chennai  overcast   won   lost
20      kkr  bangalore     sunny  lost    won
21      rcb  bangalore     sunny   won   lost
22       rr  bangalore  overcast   won    won
23      kkr     mumbai     sunny   won   lost
24       rr    chennai  overcast  lost    won

In [0]:
def fetch_crtb(colname,name):
    Yes=pd.crosstab(df[colname],df['result']).loc[name,'won']/pd.crosstab(df[colname],df['result']).loc[:,'won'].sum()
    No=pd.crosstab(df[colname],df['result']).loc[name,'lost']/pd.crosstab(df[colname],df['result']).loc[:,'lost'].sum()
    return(Yes,No)

In [0]:
def naive_bayes_func(opponent,opponent_name,venue,venue_name,outlook,outlook_name,toss,toss_value):
    Pwin=df['result'].value_counts().values[0]/len(df['result'].values)
    Plost=1-Pwin
    oYes,oNo=fetch_crtb(opponent,opponent_name)
    vYes,vNo=fetch_crtb(venue,venue_name)
    outYes,outNo=fetch_crtb(outlook,outlook_name)
    tYes,tNo=fetch_crtb(toss,toss_value)
    if(Pwin*oYes*vYes*outYes*tYes)>(Plost*oNo*vNo*outNo*tNo):
        print('WIN')
    else:
        print('LOSS')

In [0]:
naive_bayes_func('opponent','kkr','venue','chennai','outlook','overcast','toss','lost')

WIN